{% load static %}
<header>
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-8">
                <h1 style="color:red; background-color:snow; border:10px solid SlateGray; font-family:Helvetica" align="center" >FM ETERNAL School of ARTS and Science</h1>
            </div>
            <div class="col-md-0">
                <img align="center" src="{% static 'images\logo.jpg' %}" alt="No logo" height="150px" width="300px">
            </div>

        </div>
    </div>

</header>